body{
    background:#250b42;
}


.circle{
    position: absolute;
    border-radius: 50%;
    background: purple;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;

}

.small{
    width: 60vw;
    height: 100vh;
    left: -30vw;
    bottom: -30vw;
}

.medium{
    width: 80vw;
    height: 80vw;
    left: -40vw;
    bottom: -40vh;
}

.large{
    width: 100vw;
    height: 100vh;
    left: -50vw;
    bottom: -50vh;
}

.xlarge{
    width: 120vw;
    height: 120vw;
    left: -60vw;
    bottom: -60vh;
}

.xxlarge{
    width: 150vw;
    height: 150vh;
    left: -75vw;
    bottom: -75vh;
}

.shade1{
    opacity: 0.2;
}
.shade2{
    opacity: 0.4;
}

.shade3{
    opacity: 0.6;
}

.shade4{
    opacity: 0.8;
}

.shade5{
    opacity: 1;
}

@keyframes ripple{
    0%{
        transform: scale(0.8);
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(0.8);
    }
}
